.hasError{
    color: red;
}


.image-size {
    width:100px;
    height: 150px;
    float: flex;
}


.link {
    float: left;
} 

.padding-title {
    padding-left: 7em;
}

.pagination-button {
    background-color: rgba(0, 0, 0, 0);
    color: blue;
    border: none;
}

.box { 
    height: 100px;
    position: relative;
    border: none; 
  }
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}